<div class="card">
  <div class="card-header">
    <h4 align="center">BookList Component</h4>
  </div>
  <div class="card-body">
    <button class="btn btn-primary" (click)="Show()">Show All Books</button>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <button class="btn btn-primary" (click)="Hide()">Hide All Books</button>

    <div *ngIf="showbooks==true">
        <h4>Total books: {{books.length}}</h4>

        <div *ngFor="let b of books">
          <h5>Book Code: {{b.bookid}}</h5>
          <span>Book Name: {{b.bookname}}</span> <br/>
          <span>Publisher: {{b.publisher}}</span> <br/>
          <span>Price: {{b.price}}</span> <br/>
          <span>Image File: {{b.thumbnail}}</span> <br/>
          <img height="80px" width="80px" src="{{b.thumbnail}}"/>
          <button class="btn btn-primary">Edit this book</button>
            &nbsp;&nbsp;&nbsp;&nbsp;
          <button class="btn btn-danger">Delete this book</button>
          <hr/>
        </div>
    </div>

    <!-- <select>
      <option *ngFor="let b of books">
        {{b.bookid}}
      </option>
    </select> -->
  </div>
</div>
