<div class ="card">
<div class="card-header">
<h1 align="center">Book List</h1>
</div>
<div class="card-body">
    <button class="btn btn-primary"  (click)="Show()" >Show All Books</button>
    &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;
    <button class="btn btn-primary" (click)="Hide()">Hide All Books</button>

    <div *ngIf="showbooks==true">

            <div *ngFor = "let b of books">
                    <div class = "table-bordered">
                        <table>
                        <tr>
                            <th>Book Name: </th>
                            <th>Book ID</th>
                            <th>Publisher</th>
                            <th>Image Thumbnail</th>
                        </tr> 
                        <tr> 
                            <td>{{b.name}} </td>
                            <td>   {{b.ID}}  </td>
                            <td>{{b.publisher}} </td>
                            <td>{{b.thumbnail}} </td>
                            <td><img src="{{b.thumbnail}}" height="50px" width="50px"></td>
                        </tr> 
                        <button class="btn btn-primary">Edit This Book</button>
                        
                        <button class="btn btn-danger">Delete This Book</button>
                        <hr/>
                </table>
                </div>
                </div>

    </div>


<input type="text" [(ngModel)] = "name"> 

<h1> {{name}}</h1>

<button class = "btn btn-primary" (click) = "changeName()"> Change </button>

<select>

    <option *ngFor="let b of books">
        {{b.ID}}
    </option>
</select>

<table>

</table>

</div>
</div>